/*Mudança total*/
body {
    background-color: #2F3E46;
    color: aqua;
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
}

/*Mudanças no cabeçalho*/
header {
    float: right;
    color: white;
}

/*Mudanças no corpo*/
main {

}

.imgCode {
    float: right;
    width: 400px;
}

/*Mudanças no rodapé*/
footer {

}