/*Mudança total*/
body {
    background-color: #2F3E46;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    padding: 5%;
}

/*Mudanças no cabeçalho*/
header {
    float: right;
    color: rgb(255, 255, 255);
}

/*Mudanças no corpo*/
main {
    display: flex;
}

.imgCode {
    float: right;
    width: 400px;
}

/*Mudanças no rodapé*/
footer {
    display: flex;
    align-items: center;
}