body {
    background-color: #2F3E46;
    color: aqua;
    font-family: 'Montserrat', sans-serif;
}
.meuNome {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.descricao {
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
.resido {
    font-weight: 400;
    font-style: italic;
    font-size: 20px ;
}
.javascript {
    font-size: 40px;
}
.git {
    font-size: 30px;
}
.github {
    font-size: 40px;
}
.html {
    font-size: 30px;
}
.css {
    font-size: 40px;
}